<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deutschea1alla">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appiconnew_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appiconnew_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeutscheA1Alla">
        <activity
            android:name=".SoundActivity"
            android:exported="false" />
        <activity
            android:name=".CheckActivity"
            android:exported="false" />
        <activity
            android:name=".Admin3Activity"
            android:exported="false" />
        <activity
            android:name=".DinamicMainActivity"
            android:exported="false" />
        <activity
            android:name=".DinamicActivity"
            android:exported="false" />
        <activity
            android:name=".Words200MainActivity"
            android:exported="false" />
        <activity
            android:name=".Admin2Activity"
            android:exported="false" />
        <activity
            android:name=".Words200Activity"
            android:exported="false" />
        <activity
            android:name=".LessonMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".LessonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>